*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}:root
{
    --grey: #f9f9f9;
}
body
{
    min-height: 100vh ;
    overflow-x: hidden;
}
.container
{
    position: relative;
    width: 100%;
}
.navigation 
{
    position: fixed;
    width: 17%;
    height: 100%;
    background: var(--grey);
    transition: 0.5s;
    overflow: hidden;
}
.navigation .brand
{
    background: var(--grey);
    position: fixed;
    padding-top: 4px;
    height: 65px;
    width: 186px;
    margin-top: 10px;
}
.navigation .brand .logo
{
    margin-left: 40px;
}
.navigation .brand .logo img
{
    width: 31px;
    height: 30px;
}
.navigation .brand .brandName
{
    position: relative;
    margin-left: 80px;
    font-family: monospace;
    margin-top: -31px;
    font-size: 18px;
    font-weight: 600;
}
.navigation .keyStack
{
    margin-top: 45px;
    position: relative;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20px;
}
.navigation .keyStack .keys
{
    display: flex;
    cursor: pointer;
    padding: 12px;
    justify-content: space-between
}
.navigation .keyStack .keys .icon
{
    position: relative;
    padding: 10px;
    background: #ebeef5;
    border-radius: 20%;
    width: 50px;
}
.navigation .keyStack .keys .icon:hover
{
    background: #5146a2;
}
.navigation .keyStack .keys .icon ion-icon
{
    padding-left: 6px;
}
.navigation .keyStack .keys .key
{
    position: relative;
    height: 25px;
    margin-top: 5px;
    font-size: 11px;
}
.navigation .getPro
{
    display: flex;
    background: #CFC8FE;
    padding: 20px;
    margin-left: 40px;
    padding-top: 10px;
    width: 60%;
    border-radius: 10%;
    height: 165px;
}
.navigation .getPro .proLink
{
    font-size: 9px;
    background: white;
    padding: 8px;
    border-radius: 6px;
}
#getPro
{
    text-decoration: none;
}
#proDiv
{
    margin-left: 9px;
    margin-top: 22px;
}
/*MAIN*/
.main
{
    position: absolute;
    width: 45%;
    left: 280px;
    min-height: 100vh;
    transition: 0.5s;
}
.search
{
    position: relative;
    width: 400px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 70px;
}
.search label
{
    position: relative;
    width: 100%;
}
.search label input
{
    width: 100%;
    height: 30px;
    border-radius: 13px;
    padding: 5px 20px;
    padding-left: 35px;
    outline: none;
    font-size: 14px;
    border: 1px solid black;
    background: #F7F8FA;
}
.search label ion-icon
{
    position: relative;
    top: -21px;
    left: 10px;
    font-size: 13px;
}
.adminName
{
    height: 59px;
    font-size: 25px;
    padding: 16px;
    padding-left: 20px;
}
.adminName span
{
    font-size: 33px;
    font-weight: 600;
}
.adminName #notification
{
    position: absolute;
    font-size: 15px;
    color: white;
    background-color: #E58E73;
    border-radius: 50%;
    padding: 6px;
    margin-top: -7px;
    margin-left: 2px;
}
.cardBox
{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 45px;
    height: 230px;
    width: 550px;
}
.card
{
    display: flex;
    margin: 12px;
    border-radius: 13px;
    width: 130px;
    color: #433654;
}
.header
{
    margin-left: 7px;
    margin-top: 9px;
    font-size: 13px;
}
.header ion-icon
{
    margin-left: 52px;
}
.cryptoLogo
{
    margin: 10px;
    height: 40px;
}
.cryptoValue
{
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 700;    
}
.usdValue
{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 9px;
}
#btc
{
    background-color: #FDEDD4;
}
#eth
{
    background-color: #FDE4F9;
}
#ltc
{
    background-color: #B5E0E9;
}
.card img
{
    height: 90px;
}
.activityBar
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 80px;
    height: 49px;
}
.latestActivity
{
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
    color:#070707;
}
.update
{
    font-size: 13px;
    margin-left: 10px;
    margin-top: 5px;
    color: #B2B2B4;
}
.update a
{
    position: absolute;
    margin-left: 115px;
    color: #B2B2B4;
}
.settingIcon
{
    position: absolute;
    width: 40px;
    margin-left: 450px;
    margin-top: 16px;
}
.addIcon
{
    position: absolute;
    width: 30px;
    margin-left: 480px;
    margin-top: 9px;
    color: white;
    height: 30px;
    background: #5B4DA2;
    font-size: 30px;
    border-radius: 10px;
}
.historyBar
{
    height: 125px;
}
.history
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 20px;
}
.history .paymentLogo
{
    position: relative;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    left: 12px;
    padding: 6px;
}
#insurance
{
    background: #E6EDF7;
    color: #425B94;
}
#electricity
{
    background: #FCF1EB;
    color: #BE8162;
}
.history .top
{
    width: 125px;
    position: relative;
    left: -30px;
    font-size: 12px;
    font-weight: 600;
}
.history .bottom
{
    font-size: 10px;
    color: #7F8386;
}


.sideBar
{
    position: absolute;
    min-height: 100vh;
    background: var(--grey);
    width: 30%;
    left: 950px;
    border-left: solid;
    border-right: solid;
    border-width: 35px;
    border-color: var(--grey);

}
.sideTop
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 30px;
    margin-top: 15px;
    font-size: 15px;
    color: #7F8386;
    padding: 5px;
}
.sideTop img
{
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 20%;
    margin-top: -10px;
    margin-left: 85px;
}
.sideBar .payment
{
    position: relative;
    margin-top: 24px;
    font-size: 29px;
    height: 50px;
    font-weight: 600;
}
.sideBar .payment span
{
    position: relative;
    background: white;
    font-size: 10px;
    margin-left: 125px;
    border-radius: 20%;
    padding: 4px;
}
.sideBar .paymentsTab
{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: white;
    margin-top: 12px;
    font-size: 15px;
    border-radius: 8px;
    height: 100px;
    padding: 5px;
}
.received
{
    margin-left: -80px;
}
.sideBar .paymentsTab span img
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
}
.sideBar .paymentsTab .dateTime
{
    width: 117px;
}
.sideBar .paymentsTab .price
{
   text-align: right;
}

.images img
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    margin-left: 67px;
}
.paymentsTab #cryptoPaymentLTC
{
    background: #FF8C6C;  
}
.paymentsTab #cryptoPaymentLINK
{
    background: #31EAC0;  
}
.sideBar .transfer
{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background: #D8D6EC;
    height: 50px;
    border-radius: 8px;
    color: #524B7E;
}
.sideBar .transfer .edit
{
    display: flex;
    background: white;
    height: 30px;
    width: 30px;
    margin: 10px;
    padding: 7px;
    border-radius: 9px;
}
.sideBar .transfer .plus
{
    margin-top: 10px;
    font-size: 26px;
}
.sideBar .transfer .newTransfer
{
    position: relative;
    margin-left: -80px;
    margin-top: 15px;
}
.sideBar .wallet
{
    position: relative;
    margin-top: 24px;
    font-size: 29px;
    height: 50px;
    font-weight: 600;
}
.sideBar .walletTab
{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 10px;
    color: #5C546B;
    font-weight: 600;
}
.sideBar .walletTab img
{
    width: 30px;
    height: 30px;
    margin: 2px;
}
.sideBar .walletTab #btcWalletIcon
{
    background: #E0A094;
    width: 35px;
    border-radius: 5px;
}
.sideBar .walletTab .secondColumn
{
    position: relative;
    margin-left: -63px;
}
.sideBar .walletTab .lower
{
    font-size: 10px;
    margin-top: 6px;
}
.sideBar .walletTab .thirdColumn
{
    position: relative;
    text-align: right;
}
.sideBar .walletTab .valueChange
{
    font-size: 10px;
    margin-top: 6px;
}
.sideBar .walletTab #daiWalletIcon
{
    background: #E7D589;
    width: 35px;
    border-radius: 5px; 
}
.sideBar .walletTab #xrpWalletIcon
{
    background: #5BADC2;
    width: 35px;
    border-radius: 5px; 
}
.sideBar .walletTab #usdtWalletIcon
{
    background: #45CCA3;
    width: 35px;
    border-radius: 5px;
}
.sideBar .walletTab #negativeChange
{
    color: #B1EBDD;
}